<!--<nav>-->
<!--  <a (click)="getMediaItems('')">-->
<!--    <img src="assets/04.png" class="icon" />-->
<!--  </a>-->
<!--  <a (click)="getMediaItems('Movies')">-->
<!--    <img src="assets/03.png" class="icon" />-->
<!--  </a>-->
<!--  <a (click)="getMediaItems('Series')">-->
<!--    <img src="assets/02.png" class="icon" />-->
<!--  </a>-->
<!--</nav>-->
<header
  [ngClass]="{'medium-movies':medium === 'Movies', 'medium-series':medium === 'Series'}">
<!--  the ngclass is a property binding such that it helps on h2 data as per selection-->
  <h2>{{medium}}</h2>
  <div *ngIf="mediaItems">{{ mediaItems | categoryList }}</div>
</header>
<!--this section is also shown when adding homeURL/add-->
<!--    <app-media-item-form></app-media-item-form>-->
<section>
  <app-media-component
    *ngFor="let mediaItem of mediaItems"
    [mediaItem]="mediaItem"
    (delete)="onMediaItemDelete($event)" [ngClass]="{'medium-movies': mediaItem.medium === 'Movies', 'medium-series': mediaItem.medium === 'Series'}"></app-media-component>
<!--the above [ngclass is a in build directive such that it shows the css true if the logic to its right is true]-->
</section>
<footer>
  <a routerLink="/add">
    <img src="assets/01.png" class="icon">
  </a>
</footer>
